Package: myapp
Version: 1.0
Architecture: amd64
Maintainer: James <james@unknown>
Installed-Size: 18
Depends: libc6 (>= 2.2.5), libstdc++6 (>= 4.2.1), mylib
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
